.modal {
  background-color: rgba(247,244,239, 0.8);
  cursor: initial;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1001;
}

.modal--img {
  position: absolute;
  text-align: center;
  width: 100%;
}

.about--content {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 150px 100px 100px 120px;
  position: relative;
  text-align: center; 
  width: 1200px;
}

.about--close-button {
  background-color: initial;
  border: none;
  color: #786f6b;
  cursor: pointer;
  float: right;
  font-size: 20px;
  margin-top: -20px;
  margin-right: 20px;
}

.about--close-button:hover {
  color: #4d433f;
}

.about--content h1, .about--content h2 {
  color: #4d433f;
  font-family: 'IM Fell French Canon SC', serif;
  padding-left: 10px;
}

.about--content p {
  font-size: 20px;
  margin: 1em auto;
  text-align: left;
  width: 80%;
}

.about--close-link {
  color: #786f6b;
  font-style: italic;
  text-decoration: none;
}

.about--close-link:hover {
  color: #4d433f;
}