.about {
  background-color: #f7f4ef;
  border: 2px solid #4d433f;
  left: 20%;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 20%;
  width: 60%;
  z-index: 9999;
}

.about--close {
  background-color: initial;
  border: none;
  color: #666;
  cursor: pointer;
  float: right;
  font-size: 20px;
  padding: 10px;
}

.about--close:hover {
  color: #333;
}

.about h1, .about h2 {
  color: #4d433f;
  font-family: 'IM Fell French Canon SC', serif;
}

.about p {
  margin: 1em auto;
  width: 80%;
}