.atlas--border {
  border: 6px solid #786f6b;
  border-right: none;
  border-top: none;
  box-sizing: border-box;
  padding: 0 4px 2px 2px;
  position: relative;
  height: 100%;
  width: 100%;
}

.atlas--border-right {
    border-right: 6px solid #786f6b;
}

.atlas {
  border: 2px solid #786f6b;
  border-top: none;
}

.compass {
  bottom: 10px;
  left: 10px;
  position: absolute;
  width: 100px;
}