/*-------------------------
Axis Maps
- Project general CSS rules
-------------------------*/

/* Fonts and typography */

html,
body{
  font-family: 'IM Fell French Canon', serif; /* text/default font */
  font-size: 16px;
}

.display-font {
  font-family: 'IM Fell French Canon SC', serif;
  font-weight: 700;
}



/* Colors */
a {
}

a:hover,
a:visited {
 
}

/* if the highlight color changes based on JS, don't use this class, use js-highlight-color instead */
.bg-highlight-color {
  background-color: #123abc;
}

.highlight-color {
  color: #123abc;
}

.horz-bar,
.vert-bar {
  border-color: #252525;
}


/* Misc General styles */

.btn {
  border: 1px solid #666;
}

.divider {
  border-top: 5px double #4d433f;
  margin: 0 auto;
  width: 50%;
}

.logo {
  color: #4d433f;
  font-family: 'IM Fell French Canon SC', serif;
  font-size: 20px;
  line-height: 40px;
}

.logo span {
}

.logo a {
  color: #666;
  text-decoration: none;
}

.logo a:hover {
  color: #333;
  text-decoration: underline;
}

.logo img {
  height: 40px;
  margin-left: 10px;
  vertical-align: top;
}
