/*-------------------------
Axis Maps
- Project specific Layout CSS rules
-------------------------*/

.main-container {
  display: flex;
  height: 80%;
}

.map-list {
  width: 30%;
}

.atlas {
  width: 100%; /*basically everything not already taken */
}

.metadata {
  width: 40%;
}

.search-container {
  height: 20%;
  width: 100%;
}

.search {
  height: 30%;
}

.timeline {
  height: 70%;
}