.map-list {
  box-sizing: border-box;
  overflow-y: scroll;
  padding: 20px;
}

.map-list--list {
  list-style: none;
  padding: 10px;
}

.map-list--list h3 {
  font-size: 16px;
  margin: 5px 0;
}

.map-list--list li {
  padding-left: 20px;
}

.map-list--link {
  color: black;
  text-decoration: none;
}

.map-list--link:hover {
  text-decoration: underline;
}

.map-list--link.selected {
  background-color: #de2d26;
}