.map-list {
  border: 2px solid #665C5C;
  box-sizing: border-box;
  margin: 2px;
  overflow-y: scroll;
  padding: 20px;
}

.map-list--title {
  color: #4d433f;
  font-family: 'IM Fell French Canon SC', serif;
  margin: 0;
}

.map-list--list {
  list-style: none;
  padding: 10px;
  padding-top: 0;
}

.map-list--list h3 {
  color: #4d433f;
  font-family: 'IM Fell French Canon SC', serif;
  font-size: 18px;
  margin: 5px 0;
}

.map-list--list li {
  align-content: flex-start;
  display: flex;
  padding-bottom: 5px;
  padding-left: 10px;
}

.map-list--fleur {
  background-image: url("../img/fleur-symbol.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  visibility: hidden;
  width: 20px;
}

.map-list--link {
  color: black;
  padding-left: 15px;
  text-decoration: none;
  text-indent: -10px;
  width: 80%;
}