@media (max-width: 1200px) {

.modal--img img{
  width: 1000px;
}

.about--content {
  padding-top: 90px;
  width: 1000px;
}

}

@media (max-width: 1100px) {

.map-list,
.metadata {
  padding: 5px 15px 5px 5px;
}

.map-list--list {
  padding-left: 0;
}

.map-list--list li {
  padding-left: 0;
}

.metadata--close {
  font-size: 16px;
  text-align: left;
}

.metadata--header {
  text-align: center;
}

.divider {
  width: 70%;
}

.metadata ul {
  padding-left: 10px;
}

.timeline {
  padding: 5px;
}
  
}