.search {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  margin: 0;
  padding: 20px;
}

.search--title {
  font-size: 20px;
  line-height: 35px;
  margin-right: 10px;
}

.search--container {
  border: 1px solid #ccc;
  cursor: text;
  display: inline-block;
  height: 35px;
  overflow: hidden;
  padding: 5px;
  width: 70%;
}

.search--bar {
  background-color: #fff;
  border: none;
  color: #333;
  float: right;
  font-size: 14px;
  height: 30px;
  margin: 3px 0 0;
  width: 100%;
}

.search--term {
  background-color: #ccc;
  box-sizing: border-box;
  display: inline;
  line-height: 35px;
  margin-right: 5px;
  padding: 5px;
}

.search--textTerm {

}
  
.search--closeTerm {
  color: #666;
  cursor: pointer;
}

.search--closeTerm:hover {
  color: #333;
}