.timeline {
  box-sizing: border-box;
  margin: 0;
  padding: 20px;
}

.x-axis path {
  fill: none;
  stroke: #000;
  stroke-width: 2;
}

.timeline--dot {
  cursor: pointer;
  fill: #000;
}

.timeline--dot.highlight {
  fill: #de2d26;
}

.timeline--dot.hidden {
  display: none;
}