.timeline {
  box-sizing: border-box;
  margin: 0;
  padding: 20px;
}

.x-axis {
  fill: #4d433f;
  font-family: 'IM Fell French Canon SC', serif;
  font-weight: bold;
}

.x-axis path {
  fill: none;
  stroke: #786f6b;
}

.x-axis-border {
  fill: none;
  stroke: #786f6b;
}

.timeline--dot {
  cursor: pointer;
  fill: #4d433f;
}

.timeline--dot.highlight {
  fill: #82332E;
}

.timeline--dot.hidden {
  display: none;
}